<div
  class="sf2e-token-state-editor-shell"
  data-role="token-state-config-editor-mount"
>
  <div
    class="sf2e-token-state-editor-shell"
    data-role="token-state-config-editor-mount"
  >
  </div>
</div>
