<div class="form-group">
  <label>{{label}}</label>
  <div class="form-fields">
    <file-picker
      name="{{name}}"
      type="image"
      {{#if value}}value="{{value}}"{{/if}}
    ></file-picker>
  </div>
</div>
